In [ ]:
N = int(input())
if (N%2) != 0:
    print("Weird")
else:
    if (N >= 2) & (N <= 5):
        print("Not Weird")
    elif (N >= 6) & (N <= 20):
        print("Weird")
    elif (N > 20):
        print("Not Weird")

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

In [4]:
# ABCDCDC

def total_occurances(string,sub):
    count = 0
    strLen = len(string)
    subLen = len(sub)
    if sub in string:
        start = 0
        end = subLen
        for i in string:
            if (sub in string[start:end]):
                count += 1
            start += 1
            end += 1
            if end > strLen:
                break
            
    return count
    
if __name__ == '__main__':
    string = input()
    sub = input()
    print(total_occurances(string, sub))

ALEXPRABUALEXALEX
ALE
STR NOW:  ALE
Start:  1
End:  4
STR NOW:  LEX
Start:  2
End:  5
STR NOW:  EXP
Start:  3
End:  6
STR NOW:  XPR
Start:  4
End:  7
STR NOW:  PRA
Start:  5
End:  8
STR NOW:  RAB
Start:  6
End:  9
STR NOW:  ABU
Start:  7
End:  10
STR NOW:  BUA
Start:  8
End:  11
STR NOW:  UAL
Start:  9
End:  12
STR NOW:  ALE
Start:  10
End:  13
STR NOW:  LEX
Start:  11
End:  14
STR NOW:  EXA
Start:  12
End:  15
STR NOW:  XAL
Start:  13
End:  16
STR NOW:  ALE
Start:  14
End:  17
STR NOW:  LEX
Start:  15
End:  18
3

In [11]:
def average(array):
    trees_with_distinct_heights = set(array)
    sum_of_distinct_heights = 0
    for i in trees_with_distinct_heights:
        sum_of_distinct_heights  += i
    avg = sum_of_distinct_heights/len(trees_with_distinct_heights)
    return avg

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [15]:
import textwrap

def wrap(string, max_width):
    wrappedTxt = ""
    strLen = len(string)

    start = 0
    end = max_width
    for i in string:
        wrappedTxt = wrappedTxt + string[start:end] + "\n"
        start += max_width
        end += max_width
            
    return wrappedTxt

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)
    
# ABCDEFGHIJKLIMNOQRSTUVWXYZ

ABCDEFGHIJKLIMNOQRSTUVWXYZ
4
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [19]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())    
    t = tuple(integer_list)
    print(hash(t))

2
1 2
3713081631934410656

In [1]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

result = (a**b) + (c**d)
print(result)

9
29
7
27
4710194409608608369201743232

In [2]:
sample_dict = {1:"Alex", 2: "Kitty", 3:"Debbie", 4:"Niralya"}

In [3]:
sample_dict

{1: 'Alex', 2: 'Kitty', 3: 'Debbie', 4: 'Niralya'}

In [4]:
sample_dict[5] = 'Hello'

In [5]:
sample_dict

{1: 'Alex', 2: 'Kitty', 3: 'Debbie', 4: 'Niralya', 5: 'Hello'}

In [6]:
sample_dict[3]

'Debbie'

In [7]:
sample_dict[3] = 'Deb'

In [8]:
sample_dict

{1: 'Alex', 2: 'Kitty', 3: 'Deb', 4: 'Niralya', 5: 'Hello'}

In [10]:
a = "123"
type(a)

str

In [14]:
a = int(a)
a

123

In [15]:
type(a)

int

In [16]:
a = 'alex'
a = int(a)

ValueError: invalid literal for int() with base 10: 'alex'

In [17]:
lst = [1,3,5,4,3,4]
tup = tuple(lst)
tup

(1, 3, 5, 4, 3, 4)

In [18]:
sett = set(lst)

In [19]:
sett

{1, 3, 4, 5}

In [20]:
sett2 = set(tup)

In [21]:
sett2

{1, 3, 4, 5}

In [24]:
list_of_lists = [[1,2],["a","b"],["hello",["hi","hai"]]]

In [25]:
list_of_lists

[[1, 2], ['a', 'b'], ['hello', ['hi', 'hai']]]

In [26]:
dict_from_list_of_lists = dict(list_of_lists)

In [27]:
dict_from_list_of_lists

{1: 2, 'a': 'b', 'hello': ['hi', 'hai']}

In [30]:
a = int(input("enter a number: "))
a

enter a number: 33

33

In [32]:
lst = list(input("Enter number: "))
lst

Enter number: 123456789

['1', '2', '3', '4', '5', '6', '7', '8', '9']