Problem 1
---------------
Get Input from user as var1 integer
var1  = integer
var2 = float
var3 = string
var4 = complex
var5 = list [var1, var2, var3, var4]

Convert List to Tuple
In Tuple try to insert data in between

Convert Tuple to Set
Try to insert data

Convert Set to List
Try to add 100

Problem 2
---------------
Get 4 List
Create List of List
Convert to Dictionary

In [1]:
var1 = int(input("Enter int value\n"))
var2 = float(input("Enter float value\n"))
var3 = input("Enter string value\n")
var4 = complex(input("Enter complex value\n"))

Enter int value
3
Enter float value
3.0
Enter string value
three
Enter complex value
3+2j

In [2]:
print(var2)

3.0

In [3]:
var5 = [var1, var2, var3, var4]
type(var5)

list

In [4]:
tuple(var5)

(3, 3.0, 'three', (3+2j))

In [13]:
var5 = tuple(var5)
type(var5)

tuple

In [14]:
var5.insert(5)

AttributeError: 'tuple' object has no attribute 'insert'

In [15]:
var5 = set(var5)
type(var5)

set

In [18]:
var5.add(100)
var5

{(3+2j), 100, 3, 'three'}

In [19]:
type(var5)

set

In [20]:
var5 = list(var5)
var5

[(3+2j), 3, 100, 'three']

In [21]:
type(var5)

list

In [23]:
var5.append(100)

In [24]:
var5

[(3+2j), 3, 100, 'three', 100]

In [25]:
type(var5)

list

In [6]:
key1 = int(input("Enter key1\n"))
val1 = input("Enter val1 \n")

key2 = int(input("Enter key2\n"))
val2 = input("Enter val2 \n")

key3 = int(input("Enter key3\n"))
val3 = input("Enter val3 \n")

key4 = int(input("Enter key4\n"))
val4 = input("Enter val4 \n")

Enter key1
1
Enter val1
a
Enter key2
2
Enter val2
b
Enter key3
3
Enter val3
c
Enter key4
4
Enter val4
d

In [7]:
lst1 = [[key1,val1],[key2,val2],[key3,val3],[key4,val4]]
lst1

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [8]:
dict1 = dict(lst1)
type(dict1)

dict

In [9]:
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}