# Pandas

we have a new Data Structure callled as Data Frame

In [2]:
import pandas as pd

reading data

In [ ]:
income = pd.read_csv("income.csv")

In [ ]:
type(income)

In [ ]:
income.shape

using row name or column name we can index

.loc

we can access using name

.iloc

we can access using number

In [ ]:
income.loc[16, 'State']  #indexing/finding using name

In [ ]:
income.iloc[16,1]  #indexing/finding using number

want to find what are all the columns available

In [ ]:
income.columns

want to find what are all the index available (we don't have rows but index)

In [ ]:
income.index

To get basic information about your data frame

In [ ]:
income.info

Will give only numerical data's basic statistics

In [ ]:
income.describe()

In [ ]:
income.describe().T #Transpose

In [ ]:
income.describe(include = "all").T #To get

Converting a column into index

In [ ]:
income.index = income["State"]

In [ ]:
Filter

In [ ]:
income.loc['Ohio','Y2003']

In [ ]:
income.loc[income.State == "Arkansas", "Y2015"]

In [ ]:
income.head

In [ ]:
income.tail

To find the each columns data type

In [ ]:
income.dtype

In [ ]:
changing data type of columns

In [ ]:
income[]

changing dataa type of particular column

In [ ]:
income["Y2015"] #Rommended way because if there is space in the name it will be useful
income.Y2015

In [ ]:
income["Y2015"] = income.Y2015.astype("float")

Finding distinct values of each columns

In [ ]:
income.state.unique()

No of unique distinct

In [ ]:
income.State.nunique()

Finding duplicates

In [ ]:
income.drop_duplicates()

In [ ]:
income.drop_duplicates(subset="Index") #Particular column

In [ ]:
income.drop_duplicates(subset="Index", inplace=True)

#or

income = income.drop_duplicates(subset="Index")

How many times the index has repeated

In [ ]:
income.Index.value_counts()

we can to crosstab in two columns. In the particular index what are all the

In [ ]:
pd.crosstab(income.Index, income.State)

Sample

In [ ]:
income.sample()

In [ ]:
income.loc[:,["Index","State","Y2008"]] #Selecting consecutive

In [ ]:
income[["Index","State","Y2008"]] #Selecting consecutive

In [ ]:
income.loc[:,["Index","State","Y2008"]] #Selecting consecutive

if there is an outlayer we have to use median

first start the data
and find the middle value of it

we cannot find Mean or Median in non-numberical value. So we can use Mode (most repeated value)

In [ ]:
company["Company"].replace()

In [ ]:
company["Company"].fillna(company.Company.mode()[0], inplace = True)

In [ ]:
company.isna().sum()

In [ ]:
# Magic funtion

In [ ]:
%matplotlib inline
company.Age.plot()
company.Age.plot(kind = "bar")

In [ ]:
company.Age.mean()

In [ ]:
company.Age.median()

In [ ]:
company.Age.fillna(company.Age.mean(), inplace = True)

In [ ]:
company.isna().sum()

Change the colum names

In [ ]:
company.columns

In [ ]:
company.columns = ["Organization", "Age", "Compensation"]

In [ ]:
company.rename(columns = )

drop the particular row that has NA

In [ ]:
company.dropna(subset = ["Company"])

To delete a column

In [ ]:
del company["level_0"]
del company["index"]

Arranging in ascending order/decending order

In [ ]:
company.Age.sort_values(ascending = True)
company.Age.sort_values(ascending = False)

In [ ]:
company[company.duplicated()]

In [ ]:
To find the mean of each column

In [ ]:
apply function

In [ ]:
df.apply(lambda x: x.mean(), axis = 0)
df.apply(lambda x: x.nunique(), axis =0)

np.nan


nan ---> not a number