In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_excel("Participants_Data_Final/Data_Train.xlsx")
test = pd.read_excel("Participants_Data_Final/Data_Test.xlsx")
submission = pd.read_excel("Participants_Data_Final/Sample_submission.xlsx")

In [3]:
submission.head()

   COST
0  2472
1  4021
2  5608
3  2000
4  4064

In [4]:
train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [5]:
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [6]:
train.shape

(12690, 9)

In [7]:
test.shape

(4231, 8)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
TITLE            12690 non-null object
RESTAURANT_ID    12690 non-null int64
CUISINES         12690 non-null object
TIME             12690 non-null object
CITY             12578 non-null object
LOCALITY         12592 non-null object
RATING           12688 non-null object
VOTES            11486 non-null object
COST             12690 non-null int64
dtypes: int64(2), object(7)
memory usage: 892.3+ KB

In [9]:
train.columns.difference(test.columns)

Index(['COST'], dtype='object')

In [10]:
train["SOURCE"] = "train"
test["SOURCE"] = "test"

In [24]:
df = pd.concat([train,test])

C:\Users\Alex\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [25]:
df.shape

(16921, 10)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16921 entries, 0 to 4230
Data columns (total 10 columns):
CITY             16774 non-null object
COST             12690 non-null float64
CUISINES         16921 non-null object
LOCALITY         16793 non-null object
RATING           16917 non-null object
RESTAURANT_ID    16921 non-null int64
SOURCE           16921 non-null object
TIME             16921 non-null object
TITLE            16921 non-null object
VOTES            15315 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ MB

In [27]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
COST,12690.0,655.252246,627.003540,20.0,300.0,500.0,800.0,14000.0
RESTAURANT_ID,16921.0,7767.211631,4493.287626,0.0,3873.0,7751.0,11672.0,15573.0

In [28]:
df.duplicated().sum()

26

In [29]:
df = df.drop_duplicates()

In [30]:
df.shape

(16895, 10)

In [31]:
df.isna().sum()

CITY              147
COST             4230
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
SOURCE              0
TIME                0
TITLE               0
VOTES            1602
dtype: int64

In [32]:
df.CITY.describe()

count       16748
unique        450
top       Chennai
freq         2854
Name: CITY, dtype: object

In [33]:
df.CITY.fillna(df.CITY.mode()[0], inplace = True)

In [34]:
df.CITY.describe()

count       16895
unique        450
top       Chennai
freq         3001
Name: CITY, dtype: object

In [36]:
df.CITY.isna().sum()

0

In [47]:
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
df.TITLE.value_counts()

QUICK BITES                     5627
CASUAL DINING                   4902
None                            1284
CAFÉ                             829
DESSERT PARLOR                   507
CASUAL DINING,BAR                463
FINE DINING                      406
BAKERY                           391
BEVERAGE SHOP                    215
BAR,CASUAL DINING                175
LOUNGE                           135
BAKERY,QUICK BITES               126
BAR                              124
FOOD COURT                       110
KIOSK                             73
SWEET SHOP,QUICK BITES            70
MESS                              68
SWEET SHOP                        67
PUB                               67
CASUAL DINING,CAFÉ                65
DHABA                             61
BAKERY,DESSERT PARLOR             61
DESSERT PARLOR,QUICK BITES        57
QUICK BITES,SWEET SHOP            49
CAFÉ,CASUAL DINING                47
BEVERAGE SHOP,QUICK BITES         44
CAFÉ,BAKERY                       43
PUB,CASUAL DINING                 42
CAFÉ,DESSERT PARLOR               38
FOOD TRUCK                        37
                                ...
CASUAL DINING,CLUB                 2
SWEET SHOP,CASUAL DINING           2
IRANI CAFE,BAKERY                  1
DESSERT PARLOR,PAAN SHOP           1
CAFÉ,FOOD COURT                    1
MEAT SHOP                          1
BEVERAGE SHOP,FOOD COURT           1
FINE DINING,MICROBREWERY           1
MICROBREWERY,LOUNGE                1
CLUB,MICROBREWERY                  1
CASUAL DINING,DESSERT PARLOR       1
CLUB,FINE DINING                   1
SWEET SHOP,CONFECTIONERY           1
CONFECTIONERY,QUICK BITES          1
QUICK BITES,FOOD TRUCK             1
BAKERY,CASUAL DINING               1
KIOSK,FOOD COURT                   1
BEVERAGE SHOP,CASUAL DINING        1
PUB,FINE DINING                    1
BAKERY,FOOD COURT                  1
QUICK BITES,BAR                    1
BAR,MICROBREWERY                   1
BHOJANALYA                         1
BAKERY,CONFECTIONERY               1
FOOD TRUCK,DESSERT PARLOR          1
SWEET SHOP,BEVERAGE SHOP           1
BAR,CLUB                           1
DESSERT PARLOR,KIOSK               1
CAFÉ,FINE DINING                   1
QUICK BITES,MEAT SHOP              1
Name: TITLE, Length: 123, dtype: int64