In [2]:
abc = 1,000,000
abc

(1, 0, 0)

In [3]:
a b c = 1000 2000 3000

SyntaxError: invalid syntax (<ipython-input-3-fd5f99168ec0>, line 1)

In [7]:
a,b,c = 1000, 2000, 3000
c

3000

In [9]:
a_b_c = 1,000,000
a_b_c

(1, 0, 0)

In [10]:
{1,2,3,4}

{1, 2, 3, 4}

In [12]:
set((1,2,3,4))

{1, 2, 3, 4}

In [13]:
set([1,2,3,4])

{1, 2, 3, 4}

In [14]:
set([[1,2],[3,4]])

TypeError: unhashable type: 'list'

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"Automobile_Data.csv")

In [5]:
df.head(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

In [ ]:
df['company',]