# Set
    Unordered Collection
    Mutable
    No Duplicates
    No indexing
    
    Special property of Set: (not applicable on List, Tuple, Dictionary)
    We cannot have another set into a set, because every element in set must be immutable (set is a mutable object)

In [10]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

<b>If we initialize a variable with empty curly braces it will take that as type dict. to initialize a set we have to use set1 = set()

In [2]:
set1 = {1, 2, 3, 4, 5}
type(set1)

set

In [3]:
set2= {}
type(set2)

dict

In [4]:
set3 = set()
type(set3)

set

In [7]:
set3.add('Alex')
set3.add('Niralya')
set3

{'Alex', 'Niralya'}

In [11]:
set1.add(set3) #will throw error

TypeError: unhashable type: 'set'

## difference()

In [1]:
setA = {1,2,3,4,5}
setB = {1,2,3,10,20}

In [2]:
setA.difference(setB)

{4, 5}

In [3]:
setB.difference(setA)

{10, 20}

## difference_update()

In [9]:
setA.difference_update(setB)

In [5]:
print(setA)

{4, 5}

## symmetric_difference()

## symmetric_difference_update()

# Frosen Set

## update()

## Counter

In [21]:
from collections import Counter

lst = ('Data', 'Science', 'in', 'Tamil')
c = Counter(lst)
print(c)

Counter({'Data': 1, 'Science': 1, 'in': 1, 'Tamil': 1})

In [25]:
sen = 'North Korean supreme leader Kim Jong-un has admitted that the country is witnessing a severe food crisis. In a recent meeting, Kim acknowledged the grim situation and said North Koreas food supply is strained and "getting tense", according to a report in CNN'
words = sen.split()
print(type(words))

<class 'list'>

In [24]:
c2 = Counter(words)
print(c2)

Counter({'a': 3, 'North': 2, 'Kim': 2, 'the': 2, 'is': 2, 'food': 2, 'and': 2, 'Korean': 1, 'supreme': 1, 'leader': 1, 'Jong-un': 1, 'has': 1, 'admitted': 1, 'that': 1, 'country': 1, 'witnessing': 1, 'severe': 1, 'crisis.': 1, 'In': 1, 'recent': 1, 'meeting,': 1, 'acknowledged': 1, 'grim': 1, 'situation': 1, 'said': 1, 'Koreas': 1, 'supply': 1, 'strained': 1, '"getting': 1, 'tense",': 1, 'according': 1, 'to': 1, 'report': 1, 'in': 1, 'CNN': 1})

In [26]:
t = tuple()
type(t)

tuple

In [27]:
t = ()
type(t)

tuple

In [32]:
lst = list("Hello World") #will convert the string to Listprint(lst)
print(lst)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [33]:
set5 = set("Hello World") #will convert the string to Set and will remove the duplicate chars
print(set5)

{'l', 'H', 'W', ' ', 'o', 'e', 'd', 'r'}