In [10]:
import pandas as pd

In [11]:
import  matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [12]:
filepath = r"C:\Users\Alex\Data_Science\Data_Science_Course\Hackethan\Automobile_data.csv"

In [13]:
df_automobile = pd.read_csv(filepath, index_col='index')

In [14]:
df_automobile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 88
Data columns (total 9 columns):
company             61 non-null object
body-style          61 non-null object
wheel-base          61 non-null float64
length              61 non-null float64
engine-type         61 non-null object
num-of-cylinders    61 non-null object
horsepower          61 non-null int64
average-mileage     61 non-null int64
price               58 non-null float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

In [31]:
df_automobile.isna().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [39]:
df_automobile.fillna("?", inplace = True)

In [42]:
df_automobile.replace(to_replace="?", value=float('nan'), inplace=True)

In [43]:
df_automobile.isna().sum()

company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [48]:
df_automobile['price'].max()

45400.0