In [6]:
import pandas as pd

users = pd.read_csv("input_file.csv", index_col="user_id")  #Already manually replaced all the pipe '|' char to comma ',' char to create csv file

print(users.head(25))

print(users.tail(10))

print(users.shape)

print(users.columns)

print(users.index)

print(users['occupation'])

users.describe()

pd.s

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000