# DataFrame

For notes, please refer Melcose sir's notes (word document)

#### IMPORTANT: Read "Day-1_Pandas_Fundamentals.pdf" along with this notebook (KEEP THIS COMMENT IN UPCOMING NOTEBOOKS ALSO)

In [1]:
import pandas as pd
import numpy as np

In [3]:
#Empty DataFrame

df = pd.DataFrame()
print(df)
print(type(df))

Empty DataFrame
Columns: []
Index: []
<class 'pandas.core.frame.DataFrame'>

In [6]:
#Create a DataFrame from Lists

data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data=data)
print(df)


# What is that 0 in the top of the 2nd column. That column value (lable),
# since we did not give any column lable it takes the np. arange(n) index
# starts from 0 (zero)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data=data, index=['A', 'B', 'C', 'D', 'E'])
print(df)

   0
A  1
B  2
C  3
D  4
E  5

In [10]:
studentMarks = [45,60,60,90,34]
df = pd.DataFrame(data=studentMarks, index=["John", "Mary", "Kumar","Arul","Veera"], columns=["Marks"])
print(df)

       Marks
John      45
Mary      60
Kumar     60
Arul      90
Veera     34

#### Note: The index values are used to construct Rows heading / label, lables. The column value (Marks) is used to create column heading (label)

In [14]:
data = [1, 2, 3, 4, 5]

df = pd.DataFrame(data=data,index=['A', 'B', 'C', 'D', 'E'],columns=["Marks", "Grade"])

# If we give mis match of rows and columns it is an error, (ie the size of
# index and column must be same

ValueError: Shape of passed values is (5, 1), indices imply (5, 2)

### DataFrame Properties

In [16]:
import pandas as pd
data = [10, 20, 30, 40, 50]
df = pd.DataFrame(data=data,index=['A', 'B', 'C', 'D', 'E'],columns=["Marks"])
print(df)
print("SHAPE :",df.shape)
print("SIZE : ", df.size)
print("DIMENSION :",df.ndim)
print("LENGTH", len(df))

   Marks
A     10
B     20
C     30
D     40
E     50
SHAPE : (5, 1)
SIZE :  5
DIMENSION : 2
LENGTH 5

In [17]:
#Creating DataFrame from lists of list

lst = [[1,2,3],['a','b','c'],[10.0,20.0,30.0]]
df = pd.DataFrame(data=lst)
print(df)

    0   1   2
0   1   2   3
1   a   b   c
2  10  20  30

In [18]:
data = [["Alex", 10], ["Bob", 12], ["Clarke", 13]]
df = pd.DataFrame(data=data, columns=["Name", "Age"])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [19]:
#with custom index
data = [["Alex", 10], ["Bob", 12], ["Clarke", 13]]
df = pd.DataFrame(data=data, index=[1,2,3] ,columns=["Name", "Age"])
print(df)

     Name  Age
1    Alex   10
2     Bob   12
3  Clarke   13

In [20]:
#index in range()

data = [["Alex", 10], ["Bob", 12], ["Clarke", 13]]
df = pd.DataFrame(data=data, columns=["Name", "Age"], index=list(range(10,13)))
print(df)
print(df.shape)
print(df.ndim)

      Name  Age
10    Alex   10
11     Bob   12
12  Clarke   13
(3, 2)
2

In [21]:
# dtype as float

data = [["Alex", 10], ["Bob", 12], ["Clarke", 13]]
df = pd.DataFrame(data=data ,columns=["Name", "Age"], dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [22]:
df = pd.DataFrame(data=data,index=range(len(data)),columns=["Name", "Age"], dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [23]:
# Create a DataFrame from Dict of Lists

data = {"Name":['Tom', 'Jack', 'Steve', 'Ricky'], "Age":[28,34,29,42]}
df = pd.DataFrame(data=data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [24]:

data = {"Name":['Tom', 'Jack', 'Steve', 'Ricky'], "Age":[28,34,29,42], "Marks":[98, 95, 69, 28]}
df = pd.DataFrame(data=data, index=["Row 1", "Row 2", "Row 3", "Row 4"])
print(df)

        Name  Age  Marks
Row 1    Tom   28     98
Row 2   Jack   34     95
Row 3  Steve   29     69
Row 4  Ricky   42     28

In [25]:
# Create a DataFrame from List of Dicts (List has more than one dict)


data = [{'Name': 1, 'Age': 2, "Mark":50}, {'Name': 5, 'Age': 10, 'Mark': 20}]
df = pd.DataFrame(data)
print(df)

   Name  Age  Mark
0     1    2    50
1     5   10    20

In [27]:
# Another example (This is like join operation from 2 tables) / merging 2 csv / excel files

import pandas as pd
data = [{'Name': 1, 'Age': 2}, {'Name': 5, 'Age': 10, 'Mark': 20}, {'Name': 5, 'Age': 10, 'Mark': 20, "Grade":"First"}]
df = pd.DataFrame(data)
print(df)

   Name  Age  Mark  Grade
0     1    2   NaN    NaN
1     5   10  20.0    NaN
2     5   10  20.0  First

In [28]:
# Note − Observe, NaN (Not a Number) is appended in missing areas.

In [30]:
#What happens if we give explicit columns 

data = [{'Name': 1, 'Age': 2}, {'Name': 5, 'Age': 10, 'Mark': 20}, {'Name': 5, 'Age': 10, 'Mark': 20, "Grade":"First"}]
df = pd.DataFrame(data, columns=["Name", "B", "C", "Mark"])
print(df)

   Name   B   C  Mark
0     1 NaN NaN   NaN
1     5 NaN NaN  20.0
2     5 NaN NaN  20.0

In [33]:

data = [{'Name': 1, 'Age': 2, }, {'Name': 5, 'Age': 10, 'Mark': 20}, {'Name': 5, 'Age': 10, 'Mark': 20, "Grade":"First"}]
df = pd.DataFrame(data=data, index=["Row1", "Row2", "Row3"])
print(df)

      Name  Age  Mark  Grade
Row1     1    2   NaN    NaN
Row2     5   10  20.0    NaN
Row3     5   10  20.0  First

        Note:  If we pass dict to DF, the key of the dict become column names
            Where as if we pass dict to Series, the keys of dict become index

In [32]:
# list of dictionaries


data = [{'Name': 1, 'Age': 2, }, {'Name': 5, 'Age': 10, 'Mark': 20}, ]
df = pd.DataFrame(data=data, columns=["Name", "Age",], index=["Row1", "Row2"])
print(df)

      Name  Age
Row1     1    2
Row2     5   10

In [34]:

data = [{'Name': 1, 'Age': 2, }, {'Name': 5, 'Age': 10, 'Mark': 20}, ]
df = pd.DataFrame(data=data, columns=["Name", "Age", "Grade"], index=["Row1", "Row2"])
print(df)

      Name  Age  Grade
Row1     1    2    NaN
Row2     5   10    NaN

In [35]:
data = [{'Name': 1, 'Age': 2, }, {'Name': 5, 'Age': 10, 'Mark': 20}, ]
df = pd.DataFrame(data=data, columns=["Age", "Grade", "Name"], index=["Row1", "Row2"])
print(df)

      Age  Grade  Name
Row1    2    NaN     1
Row2   10    NaN     5