In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("cab.csv")

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [9]:
df

    miles  temp  rain  ncabs  price
0       1    30     0     10     20
1       1    38     0      5     40
2       1    25     0      1     50
3       1    20     1     10     50
4       1    15     1      4     80
5       1    10     1      2    200
6       2    30     0     10     30
7       2    38     0      5     50
8       2    25     0      1     90
9       2    20     1     10     90
10      2    15     1      4    120
11      2    10     1      2    250
12      3    30     0     10     50
13      3    38     0      5     80
14      3    25     0      1     96
15      3    20     1     10    110
16      3    15     1      4    120
17      3    10     1      2    300
18      4    30     0     10     90
19      4    38     0      5    140
20      4    25     0      1    160
21      4    20     1     10    250
22      4    15     1      4    170
23      4    10     1      2    400
24      5    30     0     10    140
25      5    38     0      5    170
26      5    25     0      1    190
27      5    20     1     10    220
28      5    15     1      4    280
29      5    10     1      2    500

In [5]:
#PREPROCESSING WILL BE DONE IF NESSCESSARY. IN THIS DATASET IT'S CLEAN and DATA SEEMS TO BE GOOD ALREADY

In [12]:
X = df.drop(columns='price')
Y = df[['price']]  #Target data will goes to Y axis

In [7]:
train_X, test_X, train_Y, test_Y = train_test_split(X,Y,test_size = 0.3, random_state=123)

In [8]:
model = LinearRegression()
model.fit(train_X, train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
model.intercept_

array([112.34311077])

In [10]:
model.coef_

array([[41.48662385, -3.17471497, 34.46299966, -7.73343984]])

In [11]:
predict_train = model.predict(train_X)

In [12]:
predict_test = model.predict(test_X)

In [13]:
predict_train

array([[265.53857641],
       [105.7137586 ],
       [109.73825033],
       [ 47.46403645],
       [147.20038244],
       [192.71149803],
       [149.70166814],
       [191.18829199],
       [ 88.9506603 ],
       [130.43728414],
       [160.46986184],
       [-18.74611294],
       [ -5.47663355],
       [234.19812187],
       [151.22487418],
       [118.98323799],
       [224.05195257],
       [ 22.7405109 ],
       [275.68474572],
       [ 66.72842045],
       [ 77.49661414]])

In [14]:
predict_test

array([[ 36.0099903 ],
       [307.02520026],
       [141.07870487],
       [232.67491584],
       [108.2150443 ],
       [213.41053183],
       [ 64.22713475],
       [171.92390799],
       [182.56532872]])

In [15]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [16]:
MAE_train_data = mean_absolute_error(train_Y, predict_train)
MAE_train_data

32.65167144533872

In [17]:
MAE_test_data = mean_absolute_error(test_Y, predict_test)
MAE_test_data

54.78927010087592

In [18]:
MSE_train_data = mean_squared_error(train_Y, predict_train)
MSE_train_data

2102.6476458100656

In [19]:
MSE_test_data = mean_squared_error(test_Y, predict_test)
MSE_test_data

5994.3102771627955

In [20]:
import seaborn as sns

In [11]:
hjhjhj

NameError: name 'hjhjhj' is not defined